{% extends 'cbayweb/base.html' %}
{% block titile %} cBay ViewItem {% endblock %}
{% block content%}
<br><br><br><br>
<div class="row clearfix well well-lg">
  <div> 
     <ul class="nav nav-tabs" role="tablist">
     <li role="presentation" class="active"><a href="#">Activity</a></li>
     <li role="presentation"><a href="#">Message</a></li>
     <li role="presentation"><a href="#">Account</a></li>
     </ul>
    </div>

    <div class="col-md-12 column panel panel-default">
		<br>
		<div>
			<h4  class="pull-left">Seller Info: User 1</h4>
		</div>
		<br><br>
		<div class = "col-md-2 column ">
		    <ul class="nav nav-pills nav-stacked well well-lg " role="tablist">  
              <li role="presentation" class="active"><a href="#">Buy</a></li>
              <li role="presentation"><a href="#">Sell</a></li>
              <li role="presentation"><a href="#">Wacth List</a></li>
              <li role="presentation"><a href="#"></a></li>
              <li role="presentation"><a href="#"></a></li>
              <li role="presentation"><a href="#"></a></li>
              <li role="presentation"><a href="#"></a></li>
              <li role="presentation"><a href="#"></a></li>
              <li role="presentation"><a href="#"></a></li>
              <li role="presentation"><a href="#"></a></li>
              <li role="presentation"><a href="#"></a></li>
              <li role="presentation"><a href="#"></a></li>
              <li role="presentation"><a href="#"></a></li>
              <li role="presentation"><a href="#"></a></li>
              <li role="presentation"><a href="#"></a></li>
              <li role="presentation"><a href="#"></a></li>
           </ul>
		</div>
		<div class = "col-md-10 column well well-lg">
		    <div >
		        <div class = "col-md-5 column ">
				  <span><img alt="70x70" src="http://lorempixel.com/150/150/" class="img-thumbnail"></span>
			    </div>
			    <div class = "col-md-7 column ">
				   <h5>Item 1 title</h5>
				   Price : $30 <br>
				   Purchage Time: 2014-10-05 <br>
				   Seller Link: Lucy Wang  <br>
				   <button type="submit"> Contact Seller </button>
			    </div>				 
		    </div>
		</div>

		<div class = "col-md-10 column well well-lg">
		    <div >
		        <div class = "col-md-5 column ">
				  <span><img alt="70x70" src="http://lorempixel.com/150/150/" class="img-thumbnail"></span>
			    </div>
			    <div class = "col-md-7 column ">
				   <h5>Item 2 title</h5>
				   Price : $130 <br>
				   Purchage Time: 2014-08-05 <br>
				   Seller Link: Lucy Zhang  <br>
				   <button type="submit"> Contact Seller </button>
			    </div>				 
		    </div>
		</div>

		<div class = "col-md-10 column well well-lg">
		    <div >
		        <div class = "col-md-5 column ">
				  <span><img alt="70x70" src="http://lorempixel.com/150/150/" class="img-thumbnail"></span>
			    </div>
			    <div class = "col-md-7 column ">
				   <h5>Item 3 title</h5>
				   Price : $1130 <br>
				   Purchage Time: 2014-06-05 <br>
				   Seller Link: Lucy Yang  <br>
				   <button type="submit"> Contact Seller </button>
			    </div>				 
		    </div>
		</div>

	</div>
</div>

{% endblock %}

