{% extends 'cbayweb/base.html' %}
{% block titile %} cBay ViewItem {% endblock %}
{% block content%}
<br><br><br><br>
<div class="row clearfix well well-lg">
	<div> 
		<ul class="nav nav-tabs tabbable" id="tabs-accountManag-Tabs">
			<li class="active"><a href="#panel-activity" data-toggle="tab">Activity</a></li>
			<li ><a href="#panel-message" data-toggle="tab">Message</a></li>
			<li ><a href="#panel-account" data-toggle="tab">Account</a></li>
		</ul>
	</div>

	<!--tabs-panel-content-->
	<div class = "tab-content">
		<div class="tab-pane active" id="panel-activity">
			<div class="col-md-12 column panel panel-default">
				<br>
				<div>
					<h4  class="pull-left">Seller Info: User 1</h4>
				</div>
				<br><br>
				<div class = "col-md-2 column " id="pills-accountManag-Tabs">
					<ul class="nav nav-pills nav-stacked well well-lg " role="tablist">  
						<li role="presentation"><a href="#panel-buy">Buy</a></li>
						<li role="presentation"><a href="#panel-sell">Sell</a></li>
						<li role="presentation"><a href="#panel-watchlist">Wacth List</a></li>
					</ul>
				</div>

				<!--pills-panel-content-->
				<div class = "tab-content">
					<div class="tab-pane active" id = "panel-buy">
						<div class = "col-md-10 column well well-lg">
							<div >
								<div class = "col-md-5 column ">
									<span><img alt="70x70" src="http://lorempixel.com/150/150/" class="img-thumbnail"></span>
								</div>
								<div class = "col-md-7 column ">
									<h5>Item 1 title (bought)</h5>
									Price : $30 <br>
									Purchage Time: 2014-10-05 <br>
									Seller Link: Lucy Wang  <br>
									<button type="submit"> Contact Seller </button>
								</div>				 
							</div>
						</div>
					</div>

					<div class="tab-pane" id = "panel-sell">
						<div class = "col-md-10 column well well-lg">
							<div >
								<div class = "col-md-5 column ">
									<span><img alt="70x70" src="http://lorempixel.com/150/150/" class="img-thumbnail"></span>
								</div>
								<div class = "col-md-7 column ">
									<h5>Item 1 title (sold)</h5>
									Price : $1130 <br>
									Purchage Time: 2014-06-05 <br>
									Seller Link: Lucy Yang  <br>
									<button type="submit"> Contact Seller </button>
								</div>				 
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="tab-pane" id="panel-message">
		implement later...
		</div>
		<div class="tab-pane" id="panel-account">
		implement later...
		</div>
		<script type="text/javascript">
			$('#pills-accountManag-Tabs a').click(function (e) {
				e.preventDefault()
				$(this).tab('show')
			});
		</script>
	</div>
</div>
	{% endblock %}

