{% extends "cbayweb/base.html" %}

{% block title %}cBay Add Comment{% endblock %}

{% block content %}
<form  method="post" action="{% url 'addComment' %}">
	{% if sale %}
	<h1>Add Comment: {{sale.name}}</h1>
	<input type="hidden" name="sale_id" value="{{sale.id}}">
	{% else%}
	<h1>Auction Name: {{auction.name}}</h1>
	<input type="hidden" name="auction_id" value="{{auction.id}}">
	{% endif %}
	{% csrf_token %}
	{{form}}
	<button type="submit" class="btn btn-primary">Save</button>
</form>


{% endblock %}