{% extends "cbayweb/base.html" %}

{% block title %}cBay Homepage{% endblock %}

{% block content %}

<div class="row clearfix">
	<div class="col-md-12 column well well-lg">
		<div>
			<h4>Recommandations</h4>
		</div>
		<div class="DocumentListHorizontal">
			<ul class="list-inline">
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
			</ul>
		</div>
	</div>
</div>


<div class="row clearfix">
	<div class="col-md-12 column well well-lg">
		<div>
			<h4> Best Selling Items</h4>
		</div>
		<div class="col-md-3 column">
			<select class="selectpicker">
				<optgroup label="Picnic">
					<option>Mustard</option>
					<option>Ketchup</option>
					<option>Relish</option>
				</optgroup>
				<optgroup label="Camping">
					<option>Tent</option>
					<option>Flashlight</option>
					<option>Toilet Paper</option>
				</optgroup>
			</select>
		</div>
		<div class="col-md-9 column">
			<div class="col-md-6 column">
				<div class="DocumentListVertical">
					<ul>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>						
					</ul>
				</div>
			</div>
			
			<div class="col-md-6 column">
				<div class="DocumentListVertical">
					<ul>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>
						<li class="DocumentItem">
							<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
						</li>						
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row clearfix">
	<div class="col-md-12 column well well-lg">
		<div>
			<h4> Following</h4>
		</div>
		<div class="DocumentListHorizontal">
			<ul class="list-inline">
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
				<li class="DocumentItem">
					<span><img alt="140x140" src="static/images/default_header.png" class="img-thumbnail"></span>
				</li>
			</ul>
		</div>					
	</div>
</div>
{% endblock %}

